{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set pageId = 'create-barcode' %}

{% block content %}

  <main class="app-container govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Create a barcode for secure mail</h1>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form id="create-barcode" action="/create-barcode" method="post">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          {% call govukFieldset({ }) %}
            {{ govukInput({
              label: {
                html: 'Enter a prisoner number'
              },
              id: "prisoner",
              name: "prisoner",
              value: form.prisoner,
              errorMessage: errors | findError('prisoner')
            }) }}
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Continue",
                attributes: { 'data-qa': 'continue-button' }
              }) }}
            </div>
          {% endcall %}
        </form>
      </div>
    </div>
  </main>

{% endblock %}
