{% extends "../layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set pageId = 'email-sent' %}

{% block content %}

  <main class="app-container govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Please check your inbox</h1>
        <p>We have sent an email. Please click on the link in the email to create new barcodes. </p>
      </div>
    </div>
  </main>

{% endblock %}
