{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = applicationName + " - Home" %}

{% block content %}

  <main class="app-container govuk-body">
    {% if errors.length > 0 %}
      {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errors,
        attributes: { 'data-qa-errors': true }
      }) }}
    {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Request link to access Prisoner Transactions</h1>
        <p>We will email a secure link to your CJSM email account so you can sign in to Prisoner Transactions. The link will work for 1 hour.</p>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form id="email-form" action="/request-link" method="post">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          {% call govukFieldset({ }) %}
            {{ govukInput({
              label: {
                html: 'Enter your CJSM email address'
              },
              id: "email",
              name: "email",
              value: form.email,
              errorMessage: errors | findError('email')
            }) }}
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Request Link"
              }) }}
            </div>
          {% endcall %}
        </form>
      </div>
    </div>
  </main>

{% endblock %}
